header img{
    display:block;
    margin:auto;
}
h1{
    color: rgb(70, 102, 247);
    background-color: pink;
    text-align: center;
    height:80px;
    font-size:60px;
    border-style:double;
    border-color:#3A0088;
    
}
.粉藍色{
    background-color:#99BBFF;
    width:1000px
    
}
.photo1{
    width: 800px;
    height:800px;
    background-image: url(https://scontent.ftpe8-4.fna.fbcdn.net/v/t1.0-9/53731986_2408719022473012_1581484972173164544_n.jpg?_nc_cat=104&_nc_ht=scontent.ftpe8-4.fna&oh=3a94ff2585aeb08e29db4d6f14a7ff02&oe=5CDAEF97);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}